.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #113CFC;
}

h1 {
  margin: 30px;
  font-family: 'Roboto Slab', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}
h3
{
   font-family: 'Roboto Slab';
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Roboto Slab', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
